
  <div class="card">
    <div class="card-body">
        <div class="data">
        <div class="notas">
            <div class="notas">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Digita tus notas actuales</label>
                    <input type="text" class="form-control"  placeholder="Nota">
                  </div>
                  <div class="mb-3">
                    
                    <input type="text" class="form-control"  placeholder="Nota">
                  </div>
                </div>
        </div>
        <div class="porcentajes">
            <div class="porcentajes">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Digita el porcentaje</label>
                    <input type="text" class="form-control"  placeholder="Porcentaje">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control"  placeholder="Porcentaje">
                  </div>
                </div>
        </div>
    </div>
       
    <div class="buttom">
        <button type="button" class="btn btn-primary">Calcular</button>
    </div>
    </div>
   
</div>

