<div class="card">
  <div class="card-body">
    <div class="data">
      <div class="notas">
        <div class="notas" *ngFor="let nota of notas; let i = index">
          <div class="mb-3">
            <label for="nota{{ i }}" class="form-label">Nota {{ i + 1 }}</label>
            <input type="text" class="form-control" id="nota{{ i }}" [(ngModel)]="notas[i]">
          </div>
        </div>
      </div>
      <div class="porcentajes">
        <div class="porcentajes" *ngFor="let porcentaje of porcentajes; let i = index">
          <div class="mb-3">
            <label for="porcentaje{{ i }}" class="form-label">Porcentaje {{ i + 1 }} (%)</label>
            <input type="text" class="form-control" id="porcentaje{{ i }}" [(ngModel)]="porcentajes[i]">
          </div>
        </div>
      </div>
    </div>
    <div class="buttom">
      <button type="button" class="btn btn-secondary" (click)="agregarLinea()"> Agregar</button>
      <button type="button" class="btn btn-primary" (click)="calculate()">Calcular</button>
     
    </div>
  </div>
</div>




